*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;


}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: pink;
    padding: 8px 25px;
    transition: all .5 ease;
}
.navbar ul li a:hover{
    background-color: black;
    color: pink;
    box-shadow: 0 0 10px pink;
}
.font{
    font-family: impact;
}

/*Home Selection*/
#home{
        display: flex;
        flex-direction: column;
        height: 550px;
        justify-content: center;
        align-items: center;
        color: pink; 
        font-size: 47px;
        -webkit-text-stroke: .5px black;
        text-shadow: 0px 2px 4px black;
        margin-bottom: 20px;
}
#home::before{
        content: "";
        position: absolute;
        top: 100;  
        right: 100;
        background: url(gif/tokyo.gif) no-repeat center center/cover;
        height: 100vh;
        width: 100%; 
        z-index: -1;
        opacity: 100;
    }
    .main{
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        align-items: center;
        position: static; 
        top: 30%;
        right: 10%;
    }
    .headings{
        font-family: impact;
        font-size: 3rem;
        text-align: center;
        margin: 40px 35px;
      

    }
    .btn{
        padding: 10px 35px;
        background-color: transparent;
        border: 1px pink;
        color: pink;
        outline: none;
        transition: .6s ease;
    }
    .btn:hover{
        cursor: pointer;
        background-color:black;
        color: pink;
        box-shadow: 0 0 5px pink, 0 0 10px pink, 0 0 15px pink;
        font-weight: bold;
    }

     /* Basic Info. Section */
     #basic{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
        background: url(image/tokyo.jpg) no-repeat center center/cover;
        color: pink;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: pink; 
        -webkit-text-stroke: .5px black;
        text-shadow: 0px 2px 4px black;
        font-size: x-large;
        margin-bottom: 20px;
}
        
    
    #pic{
        display: inside;
    }
    #pic img{
        width: 300px; 
        height: 300px;
    }
#intro{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-family: impact;
}
#intro h2{
    font-size: 2rem; 
    margin-bottom: 20px;
 }
 
/* My Hobbies Section */
#hobbies{
    display: flex;
    flex-direction: column;
    background: url(image/tokyo.jpg) no-repeat center center/cover;
    color: pink;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: impact;
    color: pink; 
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 2px 4px black;
    font-size: x-large;
    margin-bottom: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Favorites Section */
#favorites{
    display: flex;
    flex-direction: column;
    background: url(image/tokyo.jpg) no-repeat center center/cover;
    color: pink;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: impact;
    color: pink; 
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 2px 4px black;
    font-size: x-large;
    margin-bottom: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery img{
    width: 240px;
    height: 240px;
    margin: 0px;
}
/* Trivia's Section */
#trivia{
    display: flex;
    flex-direction: column;
    background: url(gif/tokyo.gif) no-repeat center center/cover;
    color: pink;
    align-items: center;
    padding: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: impact;
    color: pink; 
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 2px 4px black;
    font-size: x-large;
    margin-bottom: 20px;
}
.image img{
    width: 240px;
    height: 240px;
    margin: 0px;
}
/* Fact's Section */
#fact{
    display: flex;
    flex-direction: column;
    background: url(image/tokyo.jpg) no-repeat center center/cover;
    color: pink;
    align-items: left;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: impact;
    color: pink; 
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 2px 4px black;
    font-size: x-large;
    margin-bottom: 20px;
}
.picture img{
    width: 240px;
    height: 240px;
    margin: 0px;
}